html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    width: 1280px;
    box-sizing: border-box;
    padding: 50px 100px;
}

.title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 215px;
}

.justify-between {
    justify-content: space-between;
}

.title-page {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 128px;
}

.number {
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.number.top {
    margin-top: 15px;
}

.number.left {
    margin-left: 15px;
}

.flex {
    display: flex;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col {
    display: flex;
    flex-direction: column;
}

.right-in-col {
    align-self: flex-end;
}

.mt-70 {
    margin-top: 70px;
}

.mt-40 {
    margin-top: 40px !important;
    margin-bottom: 0 !important;
}

.project {
    margin-top: 108px;
}

.title-info {
    display: flex;
    grid-gap: 140px;
    margin-top: -24px;
    margin-left: 118px;
}

.header {
    margin-bottom: 75px;
}

.small-link {
    text-decoration: underline;
    font-size: 24px;
    color: black;
    cursor: pointer;

}

.link {
    text-decoration: underline;
    font-weight: 700;
    font-size: 50px;
    color: black;
    line-height: 51px;
    cursor: pointer;
}

.link:hover,
.small-link:hover {
    text-decoration: none;
}

.title-project {
    font-weight: 600;
    font-size: 36px;
}

.hedernheim {
    display: flex;
    grid-column-gap: 20px;
    height: 537px;
    overflow: hidden;
    position: relative;
}

.right-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.case {
    position: absolute;
    bottom: 0;
    right: 0;
}


.kombucha {
    position: relative;
}

.kombucha .title-project,
.kombucha .link {
    position: absolute;
    color: white;
}

.kombucha .title-project {
    top: 20px;
    left: 20px
}

.kombucha .link {
    left: 20px;
    bottom: 20px;
}

.green {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.green .title-project {
    margin-top: 25px;
}

.green .link {
    margin-top: 48px;
    margin-bottom: 30px;
}

.green .right {
    display: flex;
    flex-direction: column;
}

.right-flex {
    align-self: flex-end;
}

.books {
    display: flex;
    height: 578px;
}

.books .title-project {
    margin-top: 25px;
}

.books .left {
    grid-template-rows: auto auto 1fr;
    display: grid;
    height: 100%;
    flex: 1;
}

.books .left .link {
    align-self: flex-end;
}

.app {
    display: grid;
    grid-template-columns: 1fr auto;
}

.app .down {
    flex: 1;
    align-content: flex-end;
}

.app .right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app .title-project {
    margin-top: 25px;
}

.comics .title-project {
    margin-top: 25px;
}

.comics .link {
    margin-top: 20px;
}

.comic-line-1 {
    display: flex;
    justify-content: space-between;
}

.comic-line-1 .com {
    margin-left: -80px;
}

.comic-line-2 {
    display: flex;
    justify-content: space-between;
}

.link-wrap {
    display: flex;
    justify-content: center;
}

.link-wrap .link {
    margin-left: -20%;
}

.posters {
    border-top: 3px solid black;
    padding-top: 95px;
    margin-top: 170px;
}

.posters .title-project {
    margin-top: 25px;
    margin-bottom: 30px;
}

.posters .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.posters .right {
    justify-self: flex-end;
}

.posters .right.image {
    margin-right: 100px;
}

.more-posters .title-project {
    margin-bottom: 35px;
}

.more-posters .row-3 {
    display: flex;
    grid-column-gap: 80px;
    margin-bottom: 70px;
}

.more-posters .row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.more-posters .col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.chat {
    font-size: 128px;
    font-weight: 600;
}

.contacts {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
}

.footer {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .link {
    align-self: flex-end;
}


