html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    width: 100%;
}

body {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 3rem 6rem;
}

.block {
    margin: 0 auto;
    padding:0 4rem;
}

.title {
    font-family: "Inter", sans-serif;
    font-size: 10rem;
    font-weight: 700;
    margin-left: -8px;
    letter-spacing: -1px;
    text-align: left;
    text-transform: uppercase;
}

.link {
    cursor: pointer;

}
.link a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.title-info {
    margin-top: 1rem;
    font-family: "Inter", sans-serif;

    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
}

.contacts {
    font-size: 1.5rem;
    margin-top: 4rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    width: 100%;
    margin-top: 4.3rem;
}

.project img {
    max-width: 1200px;
    width: 100%;
}

.project {
    position: relative;
    margin-top: 4rem;
    overflow: hidden;
}

.project__name {
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    white-space: pre;
    margin-left: -4px;
    margin-bottom: 2rem;
}

.project__link {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 2rem;
    border: 3px solid white;
    padding: 1rem 3rem;
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

.project__link:hover {
    background: rgba(0, 0, 0, 0.37);;
}

#posters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 3rem;
    overflow: hidden;
    max-width: 100%;
}

.poster_name {
    margin-top: 4rem;
}

.poster {
    width: 100%;
}

.poster picture {
    width: 100%;
    overflow: hidden;
}

.poster img {
    width: inherit;
}

.test {
    width: 100px;
    height: 100px;
    background: #000;
}

@media (max-width:840px) {
    body {
        margin: 0 auto;
        padding: 4rem 2rem;
    }

    .block {
        margin: 0 auto;
        padding:0 0rem;
    }

    .title {
        font-size: 6rem;
        letter-spacing: -1px;
    }
}
